
    <h1>{{title}}</h1>

    <div class="form-group">
        <label for="title"> Review Title</label> <br>
        <input class="form-control" type="text" name="title" value="{{reviewsFortemplate.title}}"> <br>
    </div>
    <div class="form-group">
        <label for="movieTitle"> Movie</label> <br>
        <input class="form-control" type="text" name="movieTitle" value="{{reviewsFortemplate.movieTitle}}"> <br>
    </div>
    <div class="form-group">
        <label for="description"> Description</label> <br>
        <textarea name="description" id="" cols="30" rows="10" class="form-control">{{reviewsFortemplate.description}}</textarea><br>
    </div>

