<div class="row">

    <div class="col-md-3">

        <img src="https://image.tmdb.org/t/p/w200/{{movieForTemplate.poster_path}}" alt="{{movieForTemplate.title}}">

        <a href="" class="btn btn-outline-primary">Go see the Trailer</a>

    </div>

    <div class="col-md-9">

        <h2>{{movieForTemplate.title}}</h2>

        <p>{{movieForTemplate.overview}}</p>

    </div>



</div>